$accent: #035757;
$accent-hover: #024141;

$white-dark: #ddd;
$white: #fefefe;

$text-color: $white-dark;
$text-color-hover: $white;

@mixin card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

@mixin card {
  padding: 2rem;
  border-radius: 0.5rem;
  text-align: center;
}
