:root {
  color-scheme: light dark;
  --accent: #035757;
  --accent-hover: #024141;

  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    #da62c4 30%,
    white 60%
  );
  --white-dark: #ddd;
  --white: #fefefe;
  --black: #222;
  --dark-grey: #333;
  --grey: #444;

  --hero-gradient: linear-gradient(to top, #1b1b1b, #1b1b1bcc);
  --text-color: var(--white-dark);
  --text-color-hover: var(--white);
  --outline: var(--grey);
  --main-section-bg: #1b1b1b;
  --blog-thumb-bg: var(--dark-grey);
  --blog-thumb-bg-hover: var(--grey);
}

body {
  color: var(--text-color);
}

a {
  text-decoration: none;
}

code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

h2 {
  position: relative;
  border-bottom: 3px solid var(--accent);
  width: fit-content;
  line-height: 1;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.btn--cta {
  background: var(--accent);
}

.btn--cta > a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --hero-gradient: linear-gradient(to top, var(--white), #dededeaa);
    --text-color: var(--black);
    --outline: var(--white-dark);
    --main-section-bg: var(--white);
    --blog-thumb-bg: var(--white-dark);
    --blog-thumb-bg-hover: var(--white);
  }
}
