---
import type { GetStaticPaths } from "astro";
import MainLayout from "@layouts/MainLayout.astro";
import { POSTS_ENDPOINT } from "@src/scripts/consts.js";
import BlogThumb from "../../components/BlogThumb.astro";

export const getStaticPaths = (async ({ paginate }) => {
  async function getPosts() {
    const request = await fetch(POSTS_ENDPOINT);
    const postsArray = await request.json();

    // check total pages, if more than 1 then request more
    const totalPages = Number(request.headers.get("x-wp-totalpages"));

    if (totalPages !== 1) {
      for (let i = 0; i < totalPages - 1; i++) {
        const request = await fetch(POSTS_ENDPOINT);
        const posts = await request.json();

        postsArray.push(...posts);
      }
    }
    return postsArray;
  }

  const result = await getPosts();

  return paginate(result, { pageSize: 10 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<MainLayout title="Berita sekolah">
  <h1>Berita sekolah</h1>
  <p>Berita sekolah terbaru terupdate terpercaya</p>

  <ul class="post-list">
    {page.data.map((post) => <BlogThumb post={post} />)}
  </ul>

  <nav class="next-buttons">
    {
      page.url.prev && (
        <a class="next-button nb-prev" href={page.url.prev}>
          Halaman sebelumnya
        </a>
      )
    }
    {
      page.url.next && (
        <a class="next-button nb-next" href={page.url.next}>
          Halaman selanjutnya
        </a>
      )
    }
    {
      (
        <a
          class="next-button nb-last"
          href={`/berita-sekolah/${page.lastPage}`}
        >
          Halaman terkahir
        </a>
      )
    }
  </nav>
</MainLayout>

<style>
  .post-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 1rem;
  }

  .next-buttons {
    padding-block: 2rem;
    display: grid;
    grid-template-areas: "nb-prev" "nb-next" "nb-last";
    gap: 0.5rem;
  }

  @media screen and (min-width: 50em) {
    .next-buttons {
      grid-template-areas: "nb-prev nb-next nb-last";
    }
  }

  .next-button {
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    outline: 2px solid #444;
  }

  .nb-prev {
    grid-area: nb-prev;
  }
  .nb-next {
    grid-area: nb-next;
  }
  .nb-last {
    grid-area: nb-last;
  }
</style>
