---
import MainLayout from "@layouts/MainLayout.astro";
import { POSTS_ENDPOINT } from "@src/scripts/consts.js";
import BlogThumb from "../../components/BlogThumb.astro";

async function getPosts() {
  try {
    const request = await fetch(POSTS_ENDPOINT);
    const result = await request.json();
    if (request.status === 200) return result;
    else return result.message;
  } catch (err) {
    console.error(err.message);
    return err.message;
  }
}

const result = await getPosts();
---

<MainLayout>
  <h1>Berita sekolah</h1>
  <p>Berita sekolah terbaru terupdate terpercaya anjing</p>

  <ul class="post-list">
    {
      typeof result !== "string" &&
        result.map((post) => <BlogThumb post={post} />)
    }
    {typeof result == "string" && <p>{result}</p>}
  </ul>
</MainLayout>

<style>
  .post-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
</style>
