---
import ProgramKeahlian from "@layouts/ProgramKeahlian.astro";
const title = "Akutansi";
---

<ProgramKeahlian title={title}>
  <h1>{title}</h1>
  <p>Gua ga tau kerjaan anak Akutansi apa</p>
  <p>Tolong kasih taw</p>
</ProgramKeahlian>
