---
import ProgramKeahlian from "@layouts/ProgramKeahlian.astro";
const title = "Desain Komunikasi Visual";
---

<ProgramKeahlian title={title}>
  <h1>{title}</h1>
  <p>Gambar2 mungkin idk, mostly anime</p>
</ProgramKeahlian>
