---
import ProgramKeahlian from "../../layouts/ProgramKeahlian.astro";
const title = "Perhotelan";
---

<ProgramKeahlian title={title}>
  <h1>{title}</h1>
  <p>Ga tau jg</p>
  <p>Bukan anak perhotelan soalnya</p>
</ProgramKeahlian>
