---
import ProgramKeahlian from "@layouts/ProgramKeahlian.astro";
const title = "Pengembangan Perangkat Lunak dan Gim";
---

<ProgramKeahlian title={title}>
  <h1>{title}</h1>
  <p>Gua buat duluan karena gw pplg</p>
  <p>Gua litereli buat website ini</p>
</ProgramKeahlian>
