---
import MainLayout from "@layouts/MainLayout.astro";
const shortTitle = "BKK";
const longTitle = "Bursa Kerja Khusus SMK Metland";
---

<MainLayout title={shortTitle}>
  <h1>{longTitle}</h1>
  <p>
    Bursa Kerja Khusus (BKK) adalah sebuah lembaga yang dibentuk di Sekolah
    Menengah Kejuruan (SMK) Negeri maupun Swasta, sebagai unit pelaksana yang
    memberikan pelayanan dan informasi lowongan kerja, pelaksana pemasaran,
    penyaluran, dan penempatan tenaga kerja, dan sebagai mitra Dinas Tenaga
    Kerja. Bursa Kerja Khusus (BKK) SMK Pariwisata Metland berdiri pada Oktober
    2018 dan telah resmi terdaftar pada 31 Oktober 2018 di Dinas Tenaga Kerja
    Pemerintah Kabupaten Bogor.
  </p>
  <h2>Visi & Misi</h2>
  <p>
    Menjadi wadah bagi para alumni dalam mencari kerja dan sebagai sarana
    penyaluran alumni SMK serta menjembatani antara Pencari Kerja dengan Pemberi
    Kerja untuk menyiapkan dan mendapatkan sumber daya manusia yang berkualitas
    dan berkarakter unggul.
  </p>

  <h2>Tujuan BKK</h2>
  <ul>
    <li>Tempat mempertemukan alumni dengan lapangan kerja.</li>
    <li>
      Memberikan layanan kepada alumni sesuai dengan tugas dan fungsi
      masing-masing jurusan yang ada dalam Bursa Keja Khusus (BKK) SMK Metland,
      baik di dalam maupun di luar.
    </li>
    <li>
      Memberi pelatihan bagi alumni sesuai dengan permintaan lapangan kerja.
    </li>
    <li>
      Wadah untuk menanamkan jiwa wirausaha bagi alumni melalui pelatihan.
    </li>
    <li>
      Membantu alumni mendapatkan pekerjaan sesuai dengan kompetensi minat dan
      bakat.
    </li>
    <li>Bahan referensi bagi perusahaan dalam mencari tenaga kerja.</li>
  </ul>

  <h2>Manfaat BKK</h2>
  <ul>
    <li>Menyalurkan alumni ke dunia usaha dan industri.</li>
    <li>
      Melakukan proses tindak lanjut hasil pengiriman dan penempatan tenaga
      kerja melalui kegiatan penjajakan dan verifikasi.
    </li>
    <li>
      Memberi program pelatihan keterampilan tambahan/khusus bagi siswa dan
      alumni disesuaikan dengan bidang keahlian yang diperlukan.
    </li>
    <li>
      Memberikan program bimbingan menghadapi tahapan proses wawancara atau
      psikotest bagi alumni sebelum melamar pekerjaan.
    </li>
    <li>
      Memberikan informasi kepada alumni ataupun para lulusan SMK lain yang
      membutuhkan informasi tentang lowongan kerja.
    </li>
  </ul>

  <p>
    Dalam pelaksanaan program, BKK SMK Metland telah menyalurkan alumni kepada
    beberapa perusahaan dalam maupun luar negeri. Sesuai dengan visi misi yakni
    mempertemukan alumni dengan lapangan kerja, sampai pada Maret 2023 BKK
    Metland telah menyalurkan ratusan alumni dalam dunia kerja yang sesuai
    dengan bidang dan minatnya.
  </p>
</MainLayout>
