---
import MainLayout from "@layouts/MainLayout.astro";
const shortTitle = "PPDB";
const longTitle = "Penerima Peserta Didik Baru ";
---

<MainLayout title={shortTitle}>
  <main>
    <h1>{longTitle}</h1>
    <p>
      Pada tahun pelajaran 2023/2024, SMK Metland menerima pendaftaran peserta
      siswa baru dengan program keahlian sebagai berikut:
    </p>
    <ul>
      <li>Desain Komunikasi Visual</li>
      <li>Pengembangan Perangkat Lunak dan Gim</li>
      <li>Kulineri</li>
      <li>Akutansi</li>
      <li>Perhotelan</li>
    </ul>

    <p>
      Pendaftaran dapat dilakukan di halaman <a
        href="https://sekolahpedia.id/ppdb/7210">PPDB SMK Metland</a
      >.
    </p>
  </main>
</MainLayout>
