---
import MainLayout from "@layouts/MainLayout.astro";
const title = "Tentang SMK Metland";
---

<MainLayout title={title} description="Ga tau males pengen beli truk">
  <h1>{title}</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut nulla omnis
    perferendis nihil aspernatur numquam. Dicta, error! Labore atque, quae
    dolorum reprehenderit, hic reiciendis dolore doloremque ipsam veritatis,
    placeat voluptate!
  </p>
  <section>
    <h2>Visi</h2>
    <p>Visi SMK Metland adalah</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis,
      quibusdam sunt. Amet odio, molestiae necessitatibus similique doloremque
      corrupti aliquam, et cupiditate ullam nisi sit obcaecati! Maxime vero
      ullam atque voluptates.
    </p>
  </section>
  <section>
    <h2>Misi</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error iste
      laudantium vero nisi, molestiae delectus natus impedit eaque omnis! Sequi
      tempora ea, quaerat natus a ab iure eum enim exercitationem!
    </p>
  </section>

  <section>
    <h2>Cinta Prestasi</h2>
    <p>Cool abbreviation here</p>
  </section>

  <section>
    <h2>8 Golden Rules</h2>
    <ul>
      <li>Place Honesty in the priority above all.</li>
      <li>
        Should be present according to the timing of attendance and start lesson
        on-time in class.
      </li>
      <li>Should speak politely and behave well.</li>
      <li>
        Well groomed and dressed respectfully, neat, and clean according to the
        school's guideline and regulation.
      </li>
      <li>No bullying and no sexual harassment.</li>
      <li>No smoking at the school area.</li>
      <li>Keep the school clean and beautiful.</li>
      <li>Smile and greet everyone you meet in the school area.</li>
    </ul>
  </section>
  <section>
    <h2>Blog guru</h2>
    <p>
      tw ga kamuh pas COVID kemaren guru-guru pada buat blog personal.. Tapi
      sayang setelah itu pada ga nulis lagi. Pada males kali yah.
    </p>
    <p>Ini dia daftar guru-guru dan link blog nya:</p>
    <p><strong>Masukkan daftar disini</strong></p>
  </section>
</MainLayout>
