---
import MainLayout from "@layouts/MainLayout.astro";
const title = "Tentang SMK Metland";
---

<MainLayout title={title} description="Ga tau males pengen beli truk">
  <h1>{title}</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut nulla omnis
    perferendis nihil aspernatur numquam. Dicta, error! Labore atque, quae
    dolorum reprehenderit, hic reiciendis dolore doloremque ipsam veritatis,
    placeat voluptate!
  </p>
  <section>
    <h2>Visi</h2>
    <p>
      Menjadi SMK yang lulusannya memiliki performa karakter unggul dan
      berkompetensi berstandar internasional
    </p>
  </section>

  <section>
    <h2>Misi</h2>
    <ul>
      <li>
        Memberikan layanan pendidikan bagi peserta didik yang berorientasi pada
        pengembangan knowledge, skill, dan attitude berbasis industri 4.0, serta
        menguatkan karakter GENERASI CINTA PRESTASI yang sesuai dengan tuntutan
        dunia industri
      </li>
      <li>
        Mengembangkan profesionalisme guru berdasarkan nilai-nilai METLAND
        SCHOOL TEACHER’S VALUE dan mampu beradaptasi dengan tuntutan industri
        4.0
      </li>
      <li>
        Mengembangkan jaringan kerjasama kemitraan dengan DUDI dan perguruan
        tinggi vokasi baik di dalam maupun di luar negeri untuk pengembangan
        program akademik
      </li>
      <li>
        Mengembangkan jaringan kerjasama dengan DUDI di dalam dan di luar negeri
        untuk mewujudkan zero unemployment lulusan
      </li>
    </ul>
  </section>

  <section>
    <h2>Cinta Prestasi</h2>
    <p>Cool abbreviation here</p>
  </section>

  <section>
    <h2>8 Golden Rules</h2>
    <ul>
      <li>Place Honesty in the priority above all.</li>
      <li>
        Should be present according to the timing of attendance and start lesson
        on-time in class.
      </li>
      <li>Should speak politely and behave well.</li>
      <li>
        Well groomed and dressed respectfully, neat, and clean according to the
        school's guideline and regulation.
      </li>
      <li>No bullying and no sexual harassment.</li>
      <li>No smoking at the school area.</li>
      <li>Keep the school clean and beautiful.</li>
      <li>Smile and greet everyone you meet in the school area.</li>
    </ul>
  </section>
  <section>
    <h2>Blog guru</h2>
    <p>
      tw ga kamuh pas COVID kemaren guru-guru pada buat blog personal.. Tapi
      sayang setelah itu pada ga nulis lagi. Pada males kali yah.
    </p>
    <p>Ini dia daftar guru-guru dan link blog nya:</p>
    <p><strong>Masukkan daftar disini</strong></p>
  </section>
</MainLayout>
