---
import MainLayout from "@/layouts/MainLayout.astro";
const title = "Organisasi";
---

<MainLayout title={title}>
  <h1>Organisasi</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga accusamus
    ipsam aspernatur ex quo animi non esse consequatur eius nesciunt iure
    perspiciatis voluptatem dolores, repellat dicta maxime deleniti maiores
    ratione!
  </p>
  <ul>
    <li>OSIS</li>
    <li>Cinematography Metland School</li>
    <li>Paskibra</li>
    <li>Majelis Perwakilan Kelas</li>
    <li>Rohis</li>
    <li>Rohkris</li>
    <li>Pramuka</li>
    <li>Maheswara/Maheswari</li>
    <li>Kader Kesehatan Remaja</li>
    <li>Metland School Projects</li>
  </ul>
</MainLayout>
