---
const { class: className, post } = Astro.props;
---

<li class:list={["post", className]}>
  <a href={`berita-sekolah/${post.slug}`}>
    <h3>{post.title.rendered}</h3>
    <Fragment set:html={post.excerpt.rendered} />
  </a>
</li>

<style>
  .post {
    display: flex;
    flex-direction: column;
  }

  .post > a {
    background: var(--blog-thumb-bg);
    color: inherit;
    text-decoration: none;
    padding: 2rem;
    display: inline-block;
    flex-grow: 1;
  }

  .post > a:hover {
    background: var(--blog-thumb-bg-hover);
  }
</style>
<style is:global>
  .post p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
</style>
