---
const { post } = Astro.props;
---

<li class="post">
  <a href={`berita-sekolah/${post.slug}`}>
    <h2>{post.title.rendered}</h2>
    <Fragment set:html={post.excerpt.rendered} />
  </a>
</li>

<style>
  .post > a {
    background: var(--blog-thumb-bg);
    color: inherit;
    text-decoration: none;
    padding: 2rem;
    display: inline-block;
  }

  .post > a:hover {
    background: var(--blog-thumb-bg-hover);
  }

  /* .post p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  } */
</style>
