<footer>
  <p>Made by <a href="https://github.com/Klrfl/">Klrfl</a>, 2023.</p>
  <p>
    See this project on <a href="https://github.com/Klrfl/smkmetland.net"
      >GitHub</a
    >
  </p>
</footer>

<style>
  footer {
    background: #222;
    color: #ddd;
    padding: 2rem;
  }
</style>
