<header>
  <div class="logo">
    Your logo here
  </div>
  <nav>
    <ul>
      <li><a href="#">Apa liat liat</a></li>
      <li><a href="#">Apa</a></li>
      <li><a href="#">Apa</a></li>
    </ul>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
  }
</style>