---
import BaseHead from "@components/BaseHead.astro";

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="id">
	<head>
		<script
			src="https://kit.fontawesome.com/12334b3056.js"
			crossorigin="anonymous"></script>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<slot />
		<script src="../scripts/navbar.js"></script>
	</body>
</html>
