---
import BaseHead from "../components/BaseHead.astro";
import NavBar from "../components/NavBar.astro";

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
 <BaseHead title={title} description={description}/>
	
 <body>
		<NavBar/>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	body {
		margin: 0;
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
