---
import BaseHead from "@components/BaseHead.astro";

const { title = "Selamat datang", description } = Astro.props;
---

<!doctype html>
<html lang="id">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <slot />
    <script src="../scripts/navbar.js"></script>
  </body>
</html>
