---
import Layout from "@layouts/Layout.astro";

const { title, description } = Astro.props;
---

<Layout title={title} description={description}>
  <main>
    <slot />
  </main>
</Layout>

<style>
  main {
    max-width: 75ch;
    padding: 1.5rem;
    margin-inline: auto;
  }
</style>
