---
import Layout from "@layouts/Layout.astro";

const { title, description } = Astro.props;
---

<Layout title={title} description={description}>
  <main>
    <article class="artikel-utama artikel-utama--program-keahlian">
      <slot />
    </article>
  </main>
</Layout>

<style>
  main {
    max-width: 75ch;
  }
  article {
    padding: 1.5rem;
  }
</style>
