---
import MainLayout from "@/layouts/MainLayout.astro";

const { frontmatter } = Astro.props;
---

<MainLayout title={frontmatter.title} description={frontmatter.description}>
  <article class="artikel-utama artikel-utama--program-keahlian">
    <h1>{frontmatter.title}</h1>
    <slot />
  </article>
</MainLayout>
